@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-align: center;
}

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  height: 50vh!important;
}

.leaflet-top.leaflet-right {
  display: none;
}